{% include "./header.html" %}
{% include "./navBar.html" %}
<div class="container">
    <div>
        {% include "./contentHeading.html" %}
        <table class="table">
            <thead>
                <tr>
                    <th ng-click="setSort('Id')">Id</th>
                    <th ng-click="setSort('Names')">Names</th>
                    <th ng-click="setSort('Image')">Image</th>
                    <th ng-click="setSort('Created')">Created</th>
                    <th ng-click="setSort('Status')" style="min-width: 200px;">Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="container in filterContainers|orderBy:column:reverse">
                    <td ><a class="containerId" ng-bind="container.Id" ng-href="/container/{%raw%}{{container.Id}}{%endraw%}"></a></td>
                    <td ng-bind="container.Names[0]"></td>
                    <td ng-bind="container.Image"></td>
                    <td ng-bind="container.Created"></td>
                    <td ng-bind="container.Status"></td>
                    {% include "./dropdown.html" %}
                </tr>
            </tbody>
        </table>
        {% include "./removeContainer.html" %}
    </div>
</div>
<script src="//cdn.bootcss.com/angular.js/1.4.8/angular.min.js"></script>
<script src="/js/containers.service.js"></script>
<script src="/js/containers.controller.js"></script>
{% include "./footer.html" %}