{% include "./header.html" %}
{% include "./navBar.html" %}
<div class="container">
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    {% if dk %}
    <div style="border: 1px solid #d4d4d5;width: 100%;height: 500px;padding:2%">
        <div>
            <h2 style="margin: auto">{{dk.Name}}</h2>
            <p style="font-weight: 600;float:left">Started At</p><p style="margin-left: 6%;">{{dk.startTime}}</p>
        </div>
        <div class="padding-top">
            {% if !dk.State.Running %}
            <button class="btn btn-success" type="button" ng-click="send('start','{{dk.Id}}')">Start</button>
            {% endif %}
            {% if !dk.State.Running or !dk.State.Paused %}
            <button class="btn btn-success" type="button" ng-click="send('restart','{{dk.Id}}')">Restart</button>
            {% endif %}
            {% if dk.State.Running and !dk.State.Paused %}
            <button class="btn btn-warning" type="button" ng-click="send('stop','{{dk.Id}}')">Stop</button>
            {% endif %}
            {% if !dk.State.Paused %}
            <button class="btn" type="button" ng-click="send('pause','{{dk.Id}}')">Pause</button>
            {% endif %}
            {% if dk.State.Paused %}
            <button class="btn" type="button" ng-click="send('unpause','{{dk.Id}}')">Unpause</button>
            {% endif %}
            <button class="btn btn-inverse" type="button" ng-click="console('{{dk.Id}}')">Console</button>
            <button class="btn btn-danger" type="button" ng-click="removeMsg('{{dk.Id}}')">Destroy</button>
        </div>
        <div class="row-fluid">
            <div class="span4 padding-top">
                <h4 class="devide-bottom">Container Configuration</h4>
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Container ID</h5>
                        <p class="Infotext">{{dk.Id}}</p>
                    </div>
                    <div class="span6">
                        <h5>Command</h5>
                        <p class="Infotext">{{dk.Cmd}}</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Hostname</h5>
                        <p class="Infotext">{{dk.Config.Hostname}}</p>
                    </div>
                    <div class="span6">
                        <h5>Domain Name</h5>
                        <p class="Infotext">{{dk.Config.Domainname}}</p>
                    </div>
                </div>
            </div>
            <div class="span4 padding-top">
                <h4 class="devide-bottom">Swarm Node</h4>
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Name</h5>
                        <p class="Infotext">{{dk.Name}}</p>
                    </div>
                    <div class="span6">
                        <h5>Host</h5>
                        <p class="Infotext">{{dk.Host}}</p>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Cpus</h5>
                        <p class="Infotext">{{dk.Cpus}}</p>
                    </div>
                    <div class="span6">
                        <h5>Memory</h5>
                        <p class="Infotext">{{dk.HostConfig.Memory}}</p>
                    </div>
                </div>
            </div>
            <div class="span4 padding-top">
                <h4 class="devide-bottom">Environment</h4>
                {%for Env in dk.Config.Env%}
                <p>{{Env}}</p>
                {%endfor%}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4 padding-top">
                <h4 class="devide-bottom">Port Configuration</h4>
            </div>
            <div class="span4 padding-top">
                <h4 class="devide-bottom">User Defined Container DNS</h4>
                {%for dns in dk.HostConfig.Dns%}
                <p>{{dns}}</p>
                {%endfor%}
            </div>
        </div>
    </div>
    {% endif %}
    {% include "./removeContainer.html" %}
</div>
<script src="//cdn.bootcss.com/angular.js/1.4.8/angular.min.js"></script>
<script src="/js/containers.service.js"></script>
<script src="/js/containerinfo.controller.js"></script>
{% include "./footer.html" %}