<td class="dropdown">
    <a class="dropdown-toggle more" data-toggle="dropdown" data-target="#">
        More
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu more-ul">
        <li ><a class="more-select" ng-click="start(container.Id)">Start</a></li>
        <li ><a class="more-select" ng-click="restart(container.Id)">Restart</a></li>
        <li ><a class="more-select" ng-click="stop(container.Id)">Stop</a></li>
        <li ><a class="more-select" ng-click="pause(container.Id)" ng-if="!container.pause">Pause</a></li>
        <li ><a class="more-select" ng-click="unpause(container.Id)" ng-if="container.pause">Unpause</a></li>
        <li ><a class="more-select" ng-click="console(container.Id)">Console</a></li>
        <li class="divider"></li>
        <li ><a class="more-remove" ng-click="destroy(container.Id)">Destroy</a></li>
    </ul>
</td>