<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="//cdn.bootcss.com/bootstrap/2.3.1/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/2.3.1/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" >
</head>
{% if title=='Index'%}
<body>
{% elif title=='Containers' or title=='Container Info' %}
<body ng-controller="containerCtrl">
{% elif title=='Images'%}
<body ng-controller="imageCtrl">
{% elif title=='Create Container' %}
<body ng-controller="ccontainerCtrl">
{% elif title=='Cmder' %}
<body ng-controller="cmdCtrl">
{% else %}
<body>
{% endif %}