{% include "./header.html" %}
{% include "./nav_bar.html" %}
<div class="container" ng-controller="ImageCtrl">
    <div>
        {% include "./content_heading.html" %}
        <table class="table">
            <thead>
                <tr>
                    <th>repository</th>
                    <th>tag</th>
                    <th>Id</th>
                    <th>Created</th>
                    <th>VirtualSize</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in images">
                    <td ng-bind="image.repository"></td>
                    <td ng-bind="image.tag"></td>
                    <td ng-bind="image.Id"></td>
                    <td ng-bind="image.Created"></td>
                    <td ng-bind="image.VirtualSize"></td>
                    <td>
                        <a class="more-remove">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="//cdn.bootcss.com/angular.js/1.4.8/angular.min.js"></script>
<script>
    angular.module('myApp',[]).
    controller('ImageCtrl',['$scope','$http',
        function($scope,$http){
            var func=function (){
                $http.post('/images',{})
                        .success(function (data,status,headers,config) {
                            $scope.images=data;
                        })
                        .error(function (data,status,headers,config){
                            $scope.images=data;
                        });
            }
            func();
        }]);
</script>
{% include "./footer.html" %}